In [31]:
#import pandas
import pandas as pd 

# Provide the correct file and store in variable, Lecture_1
Lecture_1 = pd.read_csv('/Users/Lyba/Desktop/BME1510_Lecture1_Data - Sheet1.csv')
Lecture_1

,ID,Program,Year_in_program,Python_experience,Stats_experience,Coding_experience,Excitement_level
0,1001.0,PhD,1000,yes,yes,yes,3
1,1002.0,PhD,1,no,no,no,1
2,1003.0,Masters,2,yes,yes,yes,2
3,1004.0,Masters,1,yes,yes,yes,3
4,1005.0,Masters,1,yes,yes,yes,üëç
...,...,...,...,...,...,...,...
69,1096.0,MEng,1,No,somewhat,no,3
70,1077.0,MEng,1,yes,yes,yes,5
71,1234.0,PhD,1,some,yes,some,2.9
72,45678.0,PhD,1,yes,yes,yes,10
73,1075.0,,1,yes,yes,yes,5

#1) What percentage of students are in a Master‚Äôs program?

In [34]:
#print all unique values in the Programs columns to see what we are working with
print(Lecture_1['Program'].unique())

#filter for Program column and students who are in Masters
Masters_filtered_data = Lecture_1.loc[Lecture_1['Program'].isin(['Masters', 'MEng', 'MASc', 'meng', 'Meng', 'MAsc', 'MEng ', 'MASc ', 'MSc ']), ['Program']]
print(Masters_filtered_data)

#get length of masters student
len(Masters_filtered_data)
print(len(Masters_filtered_data))

#get length of total number of students in class
total_class = len(Lecture_1)

#get percentage of masters students in class
Masters_percentage = (len(Masters_filtered_data)/len(Lecture_1) * 100)

#print masters percentage
print('The percentage of students in a Master\'s program are:', Masters_percentage)

['PhD' 'Masters' 'MEng' 'MASc' 'Meng' 'meng' 'MAsc' 'MEng ' 'Phd' 'MASc '
 'MSc' ' ']
    Program
2   Masters
3   Masters
4   Masters
5   Masters
6   Masters
7   Masters
8   Masters
9   Masters
12     MEng
13     MASc
14     MEng
15     MASc
17     Meng
19     MEng
20     MEng
21     meng
22     MEng
26     MASc
27     MAsc
29     MEng
30     MASc
31     MEng
32     MEng
33    MEng
35     MEng
36     MEng
37     MEng
39     MEng
40     MEng
41     MEng
42    MEng
43     MEng
44     MEng
46     MEng
47     MASc
48     MEng
49    MASc
50     MEng
52     MASc
53     MEng
54     MASc
55     MASc
58     MEng
59     MEng
60     MASc
64     MEng
65     MEng
66     MEng
68     MASc
69     MEng
70     MEng
51
The percentage of students in a Master's program are: 68.91891891891892

#2) What is the average year in program for the class? Master‚Äôs students? PhD students?

In [37]:

#2.1) take average of class data
#Class_mean = Lecture_1.mean()
#you recieve an error due to the invalid enteries 

#print all unique values in the year in rograms columns to see what we are working with
print(Lecture_1['Year_in_program'].unique())

#values needs to be treated as string, but then convert then to numeric (this needs to be done to perform mean function)
#errors='coerce': Converts invalid entries to NaN
Lecture_1['Year_in_program'] = pd.to_numeric(Lecture_1['Year_in_program'], errors = 'coerce')

#filter for all students to include values between 1 and 5
Class_year_filtered = Lecture_1.loc[Lecture_1['Year_in_program'].between(1, 5, inclusive = 'both'), 'Year_in_program']

#find average year using mean for year in program for the class
Class_average = Class_year_filtered.mean()
print('The average year in program is:', Class_average)

['1000' '1' '2' '3.5' nan '4' '5' '-2' '3' '!' '0.5']
The average year in program is: 1.4710144927536233

In [39]:
#2.2) take average year in Master's program for the class
#print all unique values in the Program column to see what we are working with
print(Lecture_1['Program'].unique())

#filter for Master's program only and the year in program for that program
Masters_year_data = Lecture_1.loc[Lecture_1['Program'].isin(['Masters', 'MEng', 'MASc', 'meng', 'Meng', 'MAsc', 'MEng ', 'MASc ', 'MSc ']), ['Program', 'Year_in_program']]

#print all unique values in the year in programs to see what we are working with
print(Masters_year_data['Year_in_program'].unique())

#values needs to be treated as string, but then convert then to numeric (this needs to be done to perform mean function)
#errors='coerce': Converts invalid entries to NaN
Masters_year_data['Year_in_program'] = pd.to_numeric(Masters_year_data['Year_in_program'], errors = 'coerce')

#filter for all students to include values between 1 and 5
Masters_year_filtered = Masters_year_data.loc[Lecture_1['Year_in_program'].between(1, 5, inclusive = 'both'), 'Year_in_program']

#find average year using mean for average year in master's program
Masters_average = Masters_year_filtered.mean()
print('The average year in the Master\'s program is:', Masters_average)

['PhD' 'Masters' 'MEng' 'MASc' 'Meng' 'meng' 'MAsc' 'MEng ' 'Phd' 'MASc '
 'MSc' ' ']
[ 2.  1. nan -2.  4.]
The average year in the Master's program is: 1.3061224489795917

In [41]:
#2.3) take average year in PhD program for the class
#print all unique values in the Program column to see what we are working with
print(Lecture_1['Program'].unique())

#filter for PhD program only and the year in program for that program
Phd_year_data = Lecture_1.loc[Lecture_1['Program'].isin(['PhD', 'Phd']), ['Program', 'Year_in_program']]
print(len(Phd_year_data))

#print all unique values in the year in programs to see what we are working with
print(Phd_year_data['Year_in_program'].unique())

#values needs to be treated as string, but then convert then to numeric (this needs to be done to perform mean function)
#errors='coerce': Converts invalid entries to NaN
Phd_year_data['Year_in_program'] = pd.to_numeric(Phd_year_data['Year_in_program'], errors = 'coerce')

#filter for all students to include values between 1 and 5
Phd_year_filtered = Phd_year_data.loc[Lecture_1['Year_in_program'].between(1, 5, inclusive = 'both'), 'Year_in_program']

#find average year using mean for average year in phd program
Phd_average = Phd_year_filtered.mean()
print('The average year in the PhD program is:', Phd_average)

['PhD' 'Masters' 'MEng' 'MASc' 'Meng' 'meng' 'MAsc' 'MEng ' 'Phd' 'MASc '
 'MSc' ' ']
21
[1000.     1.     3.5    2.     4.     5.     3.     nan]
The average year in the PhD program is: 1.9210526315789473

#3) how many/what percentage/what proportion of students have experience with Python?

In [64]:
#print all unique values in the coding experience column to see what we are working with
print(Lecture_1['Python_experience'].unique())

#filter for yes and some Python experience column
Python_experience_data = Lecture_1.loc[Lecture_1['Python_experience'].isin(['yes', 'Yes', 'y', 'yep', 'yes ', 'YES']), ['Python_experience']]

#find total count of how many students have coding experience
Total_python_experience = len(Python_experience_data)
print(Total_python_experience, 'student have experience with Python')

#find proportion of how many students have experience with Python
Python_experience_proportion = Total_python_experience / len(Lecture_1)
print('The proportion of students that have experience with Python is:', Python_experience_proportion)

#find percentage of how many students have experience with Python
Python_experience_percentage = Python_experience_proportion * 100
print('The percentage of students that have experience with Python is:', Python_experience_percentage)

['yes' 'no' 'Yes' 'y' nan 'some' 'yep' 'yes ' 'YES' 'No']
60 student have experience with Python
The proportion of students that have experience with Python is: 0.8108108108108109
The percentage of students that have experience with Python is: 81.08108108108108

#4) What proportion of students in a Master‚Äôs program have experience with Python?

In [56]:
#filter for Master's program and python experience column
Masters_python_data = Lecture_1.loc[Lecture_1['Program'].isin(['Masters', 'MEng', 'MASc', 'meng', 'Meng', 'MAsc', 'MEng ', 'MASc ', 'MSc ']), ['Program', 'Python_experience']]

#filter for Masters student with yes/some python experience 
Masters_and_python_exp = Masters_python_data.loc[Masters_python_data['Python_experience'].isin(['yes', 'Yes', 'y', 'yep', 'yes ', 'YES'])]
print(Masters_and_python_exp)

#find total count of masters students with python experience
total_masters_and_python_exp = len(Masters_and_python_exp)
print(total_masters_and_python_exp, 'student are in a Master\'s program and have Python experience')

#find proportion of how many studens are in a masters program and have python experience
Masters_and_python_exp_proportion = (total_masters_and_python_exp) / len(Masters_python_data)
print('The proportion of students that are in a Master\'s program ad have experience with Python is:', Masters_and_python_exp_proportion)

    Program Python_experience
2   Masters               yes
3   Masters               yes
4   Masters               yes
5   Masters               yes
6   Masters               yes
8   Masters               yes
9   Masters               yes
12     MEng               yes
13     MASc               Yes
14     MEng               yes
15     MASc               yes
17     Meng               yes
19     MEng               yes
20     MEng               Yes
21     meng               yes
22     MEng               yes
26     MASc               yes
27     MAsc               yes
30     MASc               yes
31     MEng               yes
32     MEng               yes
33    MEng                Yes
36     MEng               yes
37     MEng               yes
39     MEng               yes
40     MEng               yes
41     MEng               yes
42    MEng               yes
43     MEng               yes
46     MEng               yes
47     MASc               yes
48     MEng               yes
49    MASc               yes
50     MEng               yes
52     MASc               yes
53     MEng               yes
54     MASc              yes
55     MASc               yes
58     MEng               yes
60     MASc               yes
64     MEng               yes
65     MEng               yes
68     MASc               YES
70     MEng               yes
44 student are in a Master's program and have Python experience
The proportion of students that are in a Master's program ad have experience with Python is: 0.8627450980392157

#5) What proportion of students are excited to be in this course?

In [50]:
#print all unique values of students excited to be in the course, to see what we are working with
print(Lecture_1['Excitement_level'].unique())

#filter for excitement level values that include 3 only
Excitement_data = Lecture_1.loc[Lecture_1['Excitement_level'].isin(['3']), ['Excitement_level']]
print(Excitement_data)

#find total count of students who are excited to be in the course 
Excitement_level_total = len(Excitement_data)
print (Excitement_level_total, 'student are excited to be in the course')

#find proportion of how many studens are excited to be in the course vs total class
Excitement_level_proportion = Excitement_level_total / total_class
print ('The proportion of students that are excited to be in the course is:', Excitement_level_proportion)

['3' '1' '2' 'üëç' nan '10/10' '3.76' '‚àû' '5' '7' '8.7' '9.9' '10' '8'
 '2.99' '4.33' '11' 'yes' '6' '9' '85%' '2.9']
   Excitement_level
0                 3
3                 3
5                 3
6                 3
8                 3
9                 3
11                3
18                3
19                3
21                3
22                3
26                3
30                3
31                3
32                3
35                3
36                3
37                3
47                3
48                3
56                3
60                3
61                3
64                3
69                3
25 student are excited to be in the course
The proportion of students that are excited to be in the course is: 0.33783783783783783